<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IContactsWcfService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://contacts.ifmo.ru:8080/api" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IContactsWcfService" contract="WcfServiceReference.IContactsWcfService"
                name="WSHttpBinding_IContactsWcfService" />
        </client>
    </system.serviceModel>
</configuration>